/* style.css */

/* Стили для всего документа */
body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 20px 0;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* Стили для заголовков столбцов */
th {
    background-color: #007AFF;
    color: white;
    padding: 10px;
    text-align: left;
}

/* Стили для строк с данными */
td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    position: relative;
}

/* Стили для горизонтальных линий-разделителей между столбцами */
td:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 1px;
    background-color: #ddd;
}

/* Стили для строк с альтернативными цветами */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Стили для ячеек даты */
td:first-child {
    /* font-weight: bold; Убран жирный шрифт */
}

/* Стили для ячеек времени */
td:nth-child(2) {
    /* font-style: italic; Убран курсив */
}

/* Стили для ячеек предмета */
td:nth-child(3) {
    /* color: #007AFF; Убран голубой цвет шрифта */
}

/* Стили для ячеек аудитории и преподавателя */
td:nth-child(4),
td:nth-child(5) {
    font-size: 0.9em;
    color: #555;
}
